/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*Variables*/
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --main-color:#d90429;
    --text-color:#020102;
    --bg-color:#fff;
    --star-color:#ff9d00;
}
/*Custom Scroll Bar */
html::-webkit-scrollbar{
    width:0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
img{
    width:100%;
}
body{
    color:var(--text-color);
}
.container{
    max-width: auto;
    margin-left:5% ;
    margin-right:5% ;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}
header.shadow #search-icon{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
.logo{
    font-size: 1.7rem;
    font-weight: 700;
    color:var(--text-color);
}
.logo span{
    color: var(--main-color);
    font-size: 1.8rem;
}
.logo:hover{
    color: var(--main-color);
}
.logo:hover span{
    color: var(--text-color);
}
.navbar{
    display: flex;
    column-gap:2rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover,
.navbar .active{
    color:var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#search-icon{
    font-size: 24px;
    cursor:pointer;
    color: var(--text-color);
}
.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left:0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 /10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}
.toyota-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    gap:1.5rem;
    max-height: 30rem;
    max-width: auto;
    border-top: 3px solid var(--text-color);
    border-bottom:  3px solid var(--text-color);;
    transform:scale(0.99) ;
}
.main-img{
    flex: 1 1 10.5rem;
}
.main-img img{
    flex: 1 1 13rem;
    padding: 20px;
    max-height: 400px;

}
.main-text{
    flex: 1 1 31.5rem;
    font-size: 1.1rem;
}
.main-text p{
    font-size: 0.7rem;
    margin:0.5rem 0;
}
.main-text i{
    color: var(--star-color);
    font-size: 1rem;
}
.price{
    font-size: 0.86rem;
    padding-bottom: 1rem;
}
.btn{
    padding: 5px 11px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.4rem;
}
.btn:hover{
    background: var(--text-color);
    transition: 0.2s;
}
.footer{
    padding-top: 2rem;
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-container .logo:hover span{
    color: var(--bg-color);
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social{
    display:flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}
.social a:hover{
    color: var(--main-color);
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a,.footer-box p{
    color: #818181;
    margin-bottom: 10px;
}
.footer-box a:hover{
    color: var(--main-color);
}
.copyright{
    padding:20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}
.mains{
    margin-top:5rem ;
    margin-left:2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
}
.heading{
    padding-left: 3rem;
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 2rem;

}
.toyota-main:hover{
    background: #fff2f2;
    transition: 0.5s;
}
.toyota-main:hover img{
    transform: scale(1.05);
    transition: 0.5s;
}
